#===============================================================================
#Copyright (C) Andrzej Adamczyk (at https://blackdev.org/). All rights reserved.
#===============================================================================

TIMEOUT=0

:Cyjon

COMMENT=Copyright (C) Andrzej Adamczyk (at https://blackdev.org/). All rights reserved.

PROTOCOL=limine
KERNEL_PATH=$boot:///kernel.gz
MODULE_PATH=$boot:///system.gz
MODULE_PATH=$boot:///home.gz

# DEBUG
#RESOLUTION=640x400
#RESOLUTION=1024x768
RESOLUTION=1280x720
#RESOLUTION=1920x1080
